USE [master]
GO
/****** Object:  Database [QL Cafe]    Script Date: 11/9/2017 12:28:10 PM ******/
CREATE DATABASE [QL Cafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL Cafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL Cafe.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL Cafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL Cafe_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL Cafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL Cafe]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 11/9/2017 12:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] IDENTITY(1,1) NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
	[SONGUOI] [int] NOT NULL,
	[MAHOADON] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/9/2017 12:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MACTHD] [int] IDENTITY(1,1) NOT NULL,
	[MABAN] [int] NOT NULL,
	[MAMON] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
	[THANHTIEN] [money] NOT NULL,
	[MAHOADON] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 11/9/2017 12:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [int] IDENTITY(1,1) NOT NULL,
	[MAMON] [int] NOT NULL,
	[TENMON] [nvarchar](50) NOT NULL,
	[DONGIA] [money] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_DANHMUC] PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/9/2017 12:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MABAN] [int] NOT NULL,
	[MAMON] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
	[THANHTIEN] [money] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON]    Script Date: 11/9/2017 12:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[MAMON] [int] IDENTITY(1,1) NOT NULL,
	[TENMON] [nvarchar](50) NOT NULL,
	[DONGIA] [money] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MADANHMUC] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_MON] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 11/9/2017 12:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MAQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/9/2017 12:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[TENTK] [nvarchar](50) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[MAQUYEN] [int] NOT NULL,
	[MAHOADON] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_BAN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_MON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_MON]
GO
ALTER TABLE [dbo].[DANHMUC]  WITH CHECK ADD  CONSTRAINT [FK_DANHMUC_MON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
GO
ALTER TABLE [dbo].[DANHMUC] CHECK CONSTRAINT [FK_DANHMUC_MON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MON]
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD  CONSTRAINT [FK_MON_DANHMUC] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
ALTER TABLE [dbo].[MON] CHECK CONSTRAINT [FK_MON_DANHMUC]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_HOADON]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_Quyen] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[Quyen] ([MAQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_Quyen]
GO
USE [master]
GO
